* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.encabezado {
    display: flex;
    padding: 50px;
    color: rgb(8, 55, 141);
}

.encabezado img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header nav ul {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: linear-gradient(#004a8f, #1787f3);
    padding: 40px;
}

header li a {
    text-decoration: none;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.banner13_1 #btn1 {
    padding: 10px;
    border-radius: 4px;
    color: blue;
    font-weight: 900;
    margin-left: 700px;
    border: none;
}

.banner13_1 #btn1:hover {
    cursor: pointer;
    background-color: #004a8f;
    color: azure;
}

.banner13_1 {
    padding: 100px;
    width: 100vw;
    height: 300px;
    background-image: url(/img/img5/img-13/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.list h3 {
    background: linear-gradient(rgb(124, 253, 3), rgb(20, 129, 6));
    padding: 10px;
    border-radius: 10px;
}

#listaList {
    padding: 25px;
}

#listaList a {
    color: black;
    text-decoration: none;
}

#specialA {
    color: black;
    text-decoration: none;
    padding: 22px;
}

.list img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.list p {
    color: gray;
    font-weight: 900;
}

#h3_2 {
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(#59abf8, #004a8f);
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.mainGrid .article {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: solid 5px gray;
}


.mainGrid .list {
    padding: 35px;
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    background-color: rgba(213, 228, 228, 0.5);
}
.mainGrid .art1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.mainGrid .art2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.mainGrid .art3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.mainGrid .art4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.mainGrid .article img {
    width: 350px;
    height: 250px;
    padding: 10px;
}

.btnArticle1 {
    background-color: rgb(168, 168, 168);
    display: flex;
    padding: 15px;
    border-radius: 20px;
}

#btnArticle2 {
    background-color: gray;
    padding: 8px;
    margin-left: 20px;
    color: azure;
}

#btnArticle3 {
    background-color: rgb(80, 80, 80);
    padding: 8px;
    color: azure;
    margin-left: 20px;
}


footer {
    background: linear-gradient(#004a8f, #010e1b);    
    padding: 15px;
    text-align: center;
    color: azure;
    margin-top: 10px;
}