.ejercicio11 {
    width: 100%;
    height: 700px;
    background-color: aqua;
}
.grilla {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.grilla1 {
    background-color: aliceblue;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 300px;
    background-image: url(/img/img5/autos.jpg);
    background-size: cover;
    background-position: center ;
    border-radius: 5px;
}
.tittle {
    padding: 33px;
    margin-top: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.692);
    color: azure;
}
.grilla2 {
    background-color: aliceblue;
    height: 300px;
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(/img/img5/colonia.jpg);
    background-size: cover;
    background-position: center ;
    border-radius: 5px;
}
.grilla3 {
    background-color: aliceblue;
    height: 300px;
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(/img/img5/ciudad.jpg);
    background-size: cover; 
    background-position: center ;
    border-radius: 5px;
}
.grilla4 {
    background-color: aliceblue;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 300px;
    background-image: url(/img/img5/mcdonalds.jpg);
    background-size: cover;
    background-position: center ;
    border-radius: 5px;
}
.grilla5 {
    background-color: aliceblue;
    height: 300px;
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(/img/img5/finca.jpg);
    background-size: cover;
    background-position: center ;
    border-radius: 5px;
}
.grilla6 {
    background-color: aliceblue;
    height: 300px;
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(/img/img5/satelite.jpg);
    background-size: cover;
    background-position: center ;
    border-radius: 5px;
}
