* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/img2/pag1/texturaBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecera {
    color: wheat;
    background-image: url(./img/img2/pag1/texturaMalla.jpg);
    width: 100%;
    height: 4rem;
}
.cabecera h1 {
    text-align: center;
    color: orange;
    font-family: monospace;
    font-size: 1.75rem;
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

section {
    margin-left: 20px;
    margin-top: 20px;
    background-image: url(./img/img2/pag1/texturaMarmol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 500px;
    float: left;
    position: absolute;
}
#indice {
    padding: 2rem;
    color: orange;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     font-size: 1.15rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#indice a {
    text-decoration: none;
    color: orange;
}

main {
    background-image: url(./img/img2/pag1/textura1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 500px;
    margin-left: 500px;
    margin-top: 20px;
}
#logoEmpresa {
    float: right;
    height: 7rem;
    background-color: #ffff;
}
.contenido {
    padding: 2rem;
    color: orange;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     font-size: 1.15rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-image: url(./img/img2/pag1/marmolBlack.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 60px;
    margin-left: 500px;
    margin-top: 20px;
}
#pie {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: orange;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     font-size: 1.15rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#pie a {
    text-decoration: none;
    color: orange;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     font-size: 1.15rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
